@import './mixins/login-mixin';

body{
    // background:linear-gradient(-45deg,#EE7752,#e49db8,#23A6D5,#23D5AB);
    // height: 100vh;
    @include mybackgroundColor($backgroundColorbody,$height,$buttoncolor,$border-radius);
    background: $backgroundColorbody;
    height: $height;
    form{
        //border-radius: 10px;
        border-radius: $border-radius;
        .form-control{
            //border-radius: 8px;
            border-radius: $border-radius;
            border:1px solid;
        }
        .form-control:hover{
            background: rgb(192, 207, 189);
        }
  
        #button{
            //border-radius: 10px;
            border-radius: $border-radius;
        }
        #button:hover{
            //background: rgb(28, 236, 167);
            background: $buttoncolor;
            color:black;
        }
    }
  
    a{
        text-decoration: none;
    }
    a:hover{
      color:rgb(28, 236, 167) ;
    }
  }